
.calculator {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  width: 300px;
}

.display {
  background-color: rgb(255, 248, 248);
  padding: 10px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: rgb(192, 190, 190);
  border-width: 2px;
  border-radius: 5px;
}

.result {
  display: block;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.operator {
  background-color: rgb(192, 190, 190);
}

#equals {
  background-color: lightblue;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

#clear, #delete{
  width: 50%;
  margin-top: 2px;
  background-color: rgb(255, 154, 154);
}

.lower-keyboard{
  display:flex;
  gap: 3px;
}
